.navbar {
  background-color: #d3f4ff;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #addceb;
}
#projects {
  background-color: #addcea;
}
.bg {
  font-size: 20px;
  background-color: #d3f4ff;
  text-align: center;
  color: black;
}
.bg a {
  color: black;
}
